@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 12px; 
    font-size: 100%;   
    color:rgb(47, 27, 119);
}
@media screen and (min-width: 700px) {
    body {
      margin: 20px;
    }
  }
.app{
    text-align: center;
    margin: 1rem;
    padding: 1rem ;
    max-width: 500px;
    border: 1px solid black;
}
.search{
    text-align: left;
    width:300px;
    margin: auto;
    
}
.search input{
    padding: 5px;
    width: 100%;
}

.current {
    margin-top: 2rem;
    padding: 1rem 0;
}
.location{
    text-align: left;
    line-height: 1.5;
    padding: 0 2rem;
    
}
.icon{
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.current-temp{
    display: flex;
    margin: 1rem;
    padding: 1rem;

}
.current-temp div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

}
.current-temp h1{
    font-size:4rem;
}
.current-conditions{
    padding: 1rem .5rem;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(47, 27, 119,.5) ;
    border-bottom: 1px solid rgba(47, 27, 119,.5) ;
}
.current-conditions div{
    width: 33%;
    padding: .8rem 0;
    line-height: 1.2;
}
.current-conditions p:first-child{
    font-size: large;
    font-weight: 600;
}
.current-conditions p:nth-child(2){
    font-size: smaller;
}

.hourly{
    display: flex;
    overflow-x:auto;
    padding : 1.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(47, 27, 119,.5) ;
}

.next-days{
    padding : .8rem 0.5rem;
}
.next-days div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.next-days div div{
    width: 25%;
}
.next-days div div{
    display: flex;
    justify-content:center;
} 
.next-days div div:first-child{
    justify-content: left;
}

.next-days div div:nth-child(4){
    justify-content: flex-end;
}
.next-days img{
    width: 50%;
    height: 50%;
} 
.next-days div div:last-child{
    justify-content: space-around;

}
.next-days span:last-child {
    opacity: .6;
    margin-left: 1rem;
}