* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #f3f3f3;
}

.app {
  background-color: #f3f3f3;
  height: 100%;
}

/* background */

.background {
  padding: 1em;
  color: white;
  background-image: url("./img/smalllighter2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 35px;
}
@media screen and (min-width: 700px) {
  .background {
    background-image: url("./img/big.jpg");
  }
}
@media screen and (min-width: 920px) {
  .background {
    font-size: 1.1em;
  }
}

/* header */

header {
  margin-bottom: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .temp-unit {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-left: 0.4em;
    button {
      width: 1.4em;
      height: 1.4em;
      border-radius: 50%;
      border: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
    }
    .active {
      background-color: rgba(243, 243, 243, 0.596);
      color: #000;
      font-size: 1.1em;
    }
    button:first-child {
      margin: 0 0.1em 0 0;
    }
    button:last-child {
      margin-left: 0.1em;
    }
  }
}
@media screen and (min-width: 700px) {
  header {
    margin-right: 1.5em;
    margin-left: 1.5em;
    .temp-unit {
      font-size: 1.4em;
    }
  }
}
/* search */
.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  .search-button {
    margin-right: 0.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .icon {
    color: #f3f3f3;
    transition: color 0.5s;
  }
  .icon:hover {
    color: white;
  }
  .search {
    width: 100%;
    position: relative;

    input {
      display: block;
      width: 100%;
      background-color: transparent;
      border-radius: 10px;
      color: white;
      font-size: 1em;
      transition: border 0.5s ease-in;
      padding: 0.2em 1.5em 0.2em 0.3em;
      border: 1px solid transparent;
    }

    input:focus {
      outline: none;
      border: 1px solid white;
      font-size: 1.1em;
    }
    input:focus + .clear-button {
      opacity: 1;
    }
    @media screen and (min-width: 700px) {
      input {
        font-size: 1.2em;
      }
    }
    .clear-button {
      opacity: 0;
      position: absolute;
      right: 0.6em;
      top: 0.7em;
      color: white;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .no-border {
      border: 1px solid transparent;
    }
    .border {
      border: 1px solid white;
    }
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  ::-moz-placeholder {
    color: white;
  }
  ::-ms-input-placeholder {
    color: white;
  }
  .matches-container {
    position: absolute;
    z-index: 10;
    width: 100%;

    div {
      cursor: pointer;
      color: initial;
      text-align: left;
      padding: 0.7em 0.5em;
      background-color: #f3f3f3;
      overflow-y: hidden;
    }
    div:hover {
      background-color: rgb(128, 128, 128);
    }
  }
}
/* end of search */

/*end of header */

/* current */

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  > div:not(.current-temp) {
    margin-bottom: 12px;
  }
  .temp {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      margin-right: 0.8em;
      img {
        width: 4.5em;
      }
    }
    h1 {
      font-size: 3em;
      font-weight: 400;
      letter-spacing: normal;
    }
  }
  .condition {
    font-size: 1.1em;
  }
  .min-max {
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 700px) {
  .current > div:not(:first-child) {
    margin-bottom: 20px;
  }
}
/* end of Current */

/* end of background */

.data {
  padding: 0.5em 1em;
  h2 {
    text-align: left;
    font-size: 1.1em;
    opacity: 0.8;
    margin-bottom: 0.5em;
  }
  @media screen and (min-width: 700px) {
    h2 {
      font-size: 1.2em;
    }
  }
}
@media screen and (min-width: 500px) {
  .data {
    padding: 0.5em 4vw;
  }
}

/* hourly */

.hourly-container {
  margin-bottom: 1em;
  .scroll-container {
    display: flex;
    gap: 0.5em;
    button {
      display: none;
      border: none;
      margin-top: 0.7em;
      opacity: 0.5;
    }
    button:hover {
      background-color: #c0bcbc;
      color: white;
    }
  }
  @media (hover: hover) {
    .scroll-container button {
      display: inline-block;
    }
  }
  .hourly {
    text-align: center;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    .hour {
      padding: 0.6em 0.4em;
      border-radius: 10px;
      background-color: white;
      margin: 0 0.25em;
      img {
        width: 3.5em;
      }
      .temp {
        position: relative;
        top: -0.4em;
        font-weight: 600;
      }
      .time {
        font-size: 0.8em;
        opacity: 0.6;
        font-weight: 600;
      }
    }
    .hour:first-child {
      margin-left: 0;
    }
    .hour:last-child {
      margin-right: 0;
    }
    @media screen and (min-width: 880px) {
      .hour {
        width: 6.05em;
      }
    }
  }
  .hourly::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .hourly-container {
    margin: 1em 0;
  }
}

/*end of hourly */

@media screen and(min-width:700px) {
  .flex-wrapper {
    display: flex;
  }
}

/* daily */
.daily-container {
  margin: 1em 0;
  .daily {
    .day {
      display: flex;
      padding: 0.9em 0.9em 0.9em 0;
      margin-bottom: 0.65em;
      justify-content: space-between;
      border-radius: 10px;
      align-items: center;
      background-color: white;
      font-weight: 600;
      .icon {
        width: 20%;
        text-align: center;
        img {
          width: 45px;
        }
      }
      .date-and-condition {
        width: 40%;
        line-height: 1.8;
        white-space: nowrap;
        .condition {
          font-size: 0.75em;
          opacity: 0.7;
        }
      }
      .rain {
        width: 15%;
        font-size: 0.7em;
        display: flex;
        justify-content: flex-end;
        color: rgb(128, 128, 240);
      }
      .min-max {
        width: 25%;
        text-align: right;
        padding-right: 0.4em;
        span {
          opacity: 0.6;
        }
      }
    }
    @media screen and (min-width: 700px) {
      .day {
        margin-bottom: 0.85em;
        padding: 1em 1em 1em 0;
      }
    }
  }
}
@media screen and (min-width: 700px) {
  .daily-container {
    width: 50%;
    padding-right: 0.7em;
  }
}
/* end of daily */

/*conditions */

.conditions-container {
  margin: 1em 0;
  .conditions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .condition {
      display: flex;
      border-radius: 10px;
      padding: 0.9em;
      margin-bottom: 0.9em;
      background-color: white;
      justify-content: left;
      align-items: center;
      width: 47%;
      .condition-data {
        line-height: 1.7;
        font-weight: 600;
        font-size: 0.9em;
        .label {
          font-size: 0.75em;
          opacity: 0.7;
        }
      }
    }
    @media screen and (min-width: 700px) {
      .condition {
        margin-bottom: 0.74em;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .conditions-container {
    width: 50%;
    padding-left: 0.7em;
  }
}
/*end of conditions */

/*Air quality */

.air-quality-container {
  width: 100%;
  .air-quality {
    border-radius: 10px;
    padding: 0.8em;
    background-color: white;
    .quality-index {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      margin-bottom: 0.9em;
      .icon-wrapper {
        min-width: 100px;
        height: 100px;
        .donut-overlay {
          position: absolute;
          text-align: center;
          line-height: 1.3;
          .index {
            font-weight: 600;
            font-size: 1.2em;
          }
          .label {
            font-size: 0.7em;
            font-weight: 600;
            opacity: 0.5;
          }
        }
      }
      .index-data {
        line-height: 1.7;
        font-weight: 600;
        font-size: 0.9em;
        .index-label {
          line-height: 1.2;
          margin-bottom: 0.3em;
        }
        .index-text {
          font-size: 0.75em;
          opacity: 0.7;
        }
      }
    }
    .particles {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      font-size: 0.6em;
      opacity: 0.7;
      font-weight: 600;
      .particle {
        width: 9%;
        line-height: 2;
      }
    }
  }
}
/*end of Air quality */
.icon-wrapper {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
